---
import Layout from '../layouts/Layout.astro';
import App from '../components/App.svelte';
---

<Layout title="PDF Chat">
	<div class="absolute top-0 z-[-2] h-screen w-screen bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]"></div>
	<main class="grid place-content-center min-h-screen w-screen">
		<h1 class="text-6xl font-bold text-white text-center pb-10">PDF Chat</h1>
		<section class="mx-12">
			<App client:idle>
		</section>
	</main>
</Layout>

<style>
</style>
